<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="images/cat_logo.png" alt="cat logo" width="80px"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
                <li class="active"><a href="/">Главная</a></li>
            {{else}}
                <li ><a href="/">Главная</a></li>
            {{/if}}
            {{#if isCats}}
                <li class="active"><a href="/cats">Выбрать</a></li>
            {{else}}
                <li ><a href="/cats">Выбрать</a></li>
            {{/if}}
            {{#if isAdd}}
                <li class="active"><a href="/addCat">Добавить</a></li>
            {{else}}
                <li ><a href="/addCat">Добавить</a></li>
            {{/if}}
            {{#if isCart}}
                <li class="active"><a href="/cart">Корзина</a></li>
            {{else}}
                <li ><a href="/cart">Корзина</a></li>
            {{/if}}
        </ul>
    </div>
</nav>